@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark02 */
.text-gray{
    color: #424242;
}

.text-primary{
    color: #FF900E;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(173, 255, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0, auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}



/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
    list-style-type: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-weight: 4rem;
}

.banner-image{
    width: 100%;
}

/* team & feature */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


#quick-list{
    font-weight: 500;
}

/* some fact card */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}

/* responsive media */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: 1fr;
    }

    .our-features{
        margin-left: 20px;
    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }
}